<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 文件输出格式 -->
	<property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level %c [%L] -| %msg [%thread] %n " />
	
	<!-- 文件路径 -->
	<property name="FILE_PATH" value="/opt/var/bvlan/logs" />

	<!-- 开发环境 -->
	<springProfile name="dev">
		<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${PATTERN}</pattern>
			</encoder>
		</appender>
		<appender name="CONSOLE_LOG" class="ch.qos.logback.core.FileAppender">
			<append>true</append>
			<!-- 文件路径 -->
			<file>${FILE_PATH}/bvlan.log</file>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${PATTERN}</pattern>
			</layout>
		</appender>
		
		<logger name="com.roncoo.education" level="debug"/>
		<root level="info">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="CONSOLE_LOG" />
		</root>
	</springProfile>

	<!-- 测试环境 -->
	<springProfile name="test">
		<!-- 每天产生一个文件 -->
		<appender name="TEST-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<!-- 文件路径 -->
				<fileNamePattern>${FILE_PATH}/bvlan.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
				<!-- 每个文件最大 -->
				<maxFileSize>10MB</maxFileSize> 
				<!-- 文件最大保存历史数量 -->     
			    <maxHistory>10</maxHistory>
			    <!-- 所有文件总共最大 -->
			    <totalSizeCap>1GB</totalSizeCap>
			</rollingPolicy>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${PATTERN}</pattern>
			</layout>
		</appender>
		<root level="info">
			<appender-ref ref="TEST-FILE" />
		</root>
	</springProfile>

	<!-- 生产环境 -->
	<springProfile name="prod">
		<appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<!-- 文件路径 -->
				<fileNamePattern>${FILE_PATH}/bvlan.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
				<!-- 每个文件最大 -->
				<maxFileSize>10MB</maxFileSize> 
				<!-- 文件最大保存历史数量 -->     
			    <maxHistory>100</maxHistory>
			    <!-- 所有文件总共最大 -->
			    <totalSizeCap>20GB</totalSizeCap>
			</rollingPolicy>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${PATTERN}</pattern>
			</layout>
		</appender>
		<root level="info">
			<appender-ref ref="PROD_FILE" />
		</root>
	</springProfile>
</configuration>
