.tiles {
	background: url(../images/tiles.png)no-repeat center top;
	position: relative;
	min-height:910px;
	text-align:center;
}
.header_mac {
    left: 95px;
    top: 235px;
}
.header_book {
    left: 308px;
    top: 230px;
}
.logo {
    left: 45px;
    top: 410px;
}
.header_team {
    left: 200px;
    top: 570px;
}
.header_about {
	left: 436px;
	top: 575px;
}
.header_contact {
    left: 645px;
    top: 350px;
}
.header_social ul li a i.fb1 {
    left: 690px;
    top: 162px;
}
.header_social ul li a i.tw1 {
    left: 765px;
    top: 165px;
}
.header_social ul li a i.db1 {
    left: 838px;
    top: 164px;
}
.header_social ul li a i.g1 {
    left: 730px;
    top: 232px;
}
.header_social ul li a i.skype {
    left: 840px;
    top: 235px;
}
.header_social ul li a i.vimeo {
    left: 802px;
    top: 277px;
}
.header {
	min-height: 900px;
	padding-top: 2em;
}
.header_arrow {
	left: 29em;
	top: 47em;
}